
body {
  background-color: #1a1e24;
  color: #CCC;
}

.content-wrap, .header .site-meta, .header .header-inner {
  background-color: #242932;
}

.site-meta {
  border-bottom-color: #555;
}

.header .menu .menu-item-active a {
  background-color: #141922;
}

.header .menu .menu-item a:hover {
  background-color: #0C101A;
    border-bottom-color: #AAA;
}

.posts-expand .post-title-link {
  color: #DDD;
}

.posts-expand .post-title-link:hover::before {
  background-color: #DDD;
}

input, textarea, select, button {
  background-color: #181a1b;
}

input, textarea, select, button {
  border-color: #575757;
  color: #e8e6e3;
}

a {
  color: #CCC;
}

a:hover {
  color: #FFF;
}

hr {
  background-image: repeating-linear-gradient(-45deg, #333, #333 4px, #BBB 4px, #BBB 8px);
}

.post-toc ol a.nav-link, .post-nav .post-nav-item a {
  color: #BBB;
}

.post-toc ol a.nav-link:hover, .post-nav .post-nav-item a:hover {
  color: #DDD;
}

.post-toc .nav a.nav-link {
  color: #BBB;
  border-bottom-color: #BBB;
}

.post-toc .nav a.nav-link:hover {
  color: #EEE;
  border-bottom-color: #EEE;
}

.post-toc .nav .active > a.nav-link {
  color: #DDD;
  border-bottom-color: #DDD;
  font-weight: 600;
}

.post-toc .nav .active > a.nav-link:hover {
  color: #FFF;
  border-bottom-color: #FFF;
}

.back-to-top {
  border: 1px solid  #999;
  color: #CCC;
}

.back-to-top:hover {
  border: 1px solid  #CCC;
  color: #FFF;
}

.sidebar {
  background-color: #1a1e24;
}

.sidebar a {
  color: #999;
}

.sidebar a:hover {
  color: #CCC;
  border-bottom-color: #CCC;
}

.sidebar .sidebar-inner {
  background-color: #242932;
}


// Homepage
.site-author-name {
  color: #DDD;
}

.site-author-image {
  border-radius: 50%;
  border-color: #666;
}

.links-of-author-item a:hover {
  background-color: #343942;
}

.btn {
  background: #343942;
  color: #BBB;
  border-color: #444;
}

.btn:hover {
  background: #444952;
  color: #FFF;
  border-color: #555;
}

// Basic Dark Config
table {
border-color: #4c4c4c;
}

::placeholder {
color: #bab5ab;
}

::selection {
background-color: #005ccc;
color: #ffffff;
}

::-moz-selection {
background-color: #005ccc;
color: #ffffff;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
background-color: #545b00 !important;
color: #e8e6e3 !important;
}

::-webkit-scrollbar {
background-color: #1c1e1f;
color: #c5c1b9;
}

::-webkit-scrollbar-thumb {
background-color: #2a2c2e;
}

::-webkit-scrollbar-thumb:hover {
background-color: #323537;
}
::-webkit-scrollbar-thumb:active {
background-color: #3d4043;
}

::-webkit-scrollbar-corner {
background-color: #181a1b;
}

// * {
// scrollbar-color: #2a2c2e #1c1e1f;
// }
